
:root {
  --dark-shade0: #1e222a;

  --dark-shade1: #393d44;

  --dark-shade2: #55585d;

  --dark-shade3: #707377;

  --dark-shade4: #8c8d91;

  --dark-shade5: #a7a8ab;

  --dark-shade6: #c3c3c4;

  --dark-shade7: #dedede;

  --dark-accent0: #e06c75;

  --dark-accent1: #68829e;

  --dark-accent2: #e5c07b;

  --dark-accent3: #61afef;

  --dark-accent4: #c678dd;

  --dark-accent5: #98c379;

  --dark-accent6: #98c379;

  --dark-accent7: #c678dd;
}